{% extends 'base.html' %}
{% block body %}
<link href="/static/cc.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.2/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.2/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.2/assets/img/favicons/safari-pinned-tab.svg" color="#712cf9">
<link rel="icon" href="/docs/5.2/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#712cf9">


<style>
    h3 {
      text-decoration: underline;
        }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
    }

    .bi {
        vertical-align: -.125em;
        fill: currentColor;
    }

    .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
    }

    .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
    .intro {
        background-color: skyblue;
      }
</style>


<!-- Custom styles for this template -->
<link href="pricing.css" rel="stylesheet">

<main>
    <div class='intro text-center px-4 py-4'> <h2> Employment Oriented Skill Programs (Non IT) </h2></div>
    <div class="row row-cols-1 row-cols-md-6 mb-4 py-2 px-4 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c1.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r1.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c2.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r2.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c3.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r3.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c4.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r4.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c5.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r5.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c6.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r6.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c7.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r7.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c8.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r8.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c9.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r9.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c10.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r10.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c11.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r11.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c12.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r12.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c13.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r13.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
               
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c14.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r14.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
         
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c15.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r15.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
       
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c16.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r16.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c17.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r17.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c18.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r18.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c19.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r19.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c20.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r20.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c21.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r21.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c22.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r22.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "c23.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/r23.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                 
                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <div class='intro text-center px-4 py-4'> <h2> Employment Oriented Skill Programs (IT) </h2></div>
    <div class="row row-cols-1 row-cols-md-6 mb-4 py-2 px-4 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i1.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i1.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
             
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i2.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i2.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i3.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i3.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i4.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i4.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i5.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i5.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i6.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i6.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i7.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i7.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i8.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i8.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i9.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i9.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i10.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i10.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
            
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i11.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i14.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure>
                    </ul>
              
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i12.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i15.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i13.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i16.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
              
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i14.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i17.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
               
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i15.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i18.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
            
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "i16.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/i19.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
            
                </div>
            </div>
        </div>
    </div>
</main>
<main>
    <div class='intro text-center px-4 py-4'> <h2> Special Skill Development Programs For School Students </h2></div>
    <div class="row row-cols-1 row-cols-md-6 mb-4 py-2 px-4 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s1.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s1.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s2.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s2.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s3.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s3.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s4.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s4.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s5.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s5.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
              
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s6.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s6.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s7.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s7.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                 
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s8.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s8.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                   
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s9.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s9.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s10.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s10.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s11.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s11.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s12.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s12.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s13.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s13.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                     
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">    
                    <ul class="list-unstyled mt-3 mb-4">
                        <figure class="effect-sadie  wowload fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                            <div>
                                {% load static %}
                                <img src="{% static "s14.jpg" %}" class="d-block w-100" alt="the-buzz-img3" >
                                <figcaption>
                                    <p class= 'mt-4 mb-0' style = 'style="text-align:center;'>
                                        <a href="/static/pdf/s14.jpg" data-gallery="">View Course Details</a>
                                    </p>            
                                </figcaption>
                            </div> 
                        </figure> 
                    </ul>
                    
                </div>
            </div>
        </div>
</main>

{% endblock body %}